.text-logo{
  font-size: 40px;
  font-weight: bold;
}

.text-gold{
  background: -webkit-linear-gradient(#AE8625, #F7EF8A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-silver{
  background: -webkit-linear-gradient(#FEFDFF, #AAA9AD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-white{
  color:#FFF;
}

.btn:hover{
  background-color: #F7EF8A!important;
  color:#AE8625!important;
}

.bg-gold{
  background-image: radial-gradient(#F7EF8A, #AE8625);
}

.bg-silver{
  background-image: radial-gradient(#FEFDFF, #AAA9AD);
}

.border-rad-5{
  border-radius: 5px;
}

.border-rad-3{
  border-radius: 3px;
}

.aside-menu .menu-item .menu-link.active {
    transition: color .2s ease, background-color .2s ease!important;
    background-color: #db1430!important;
    color: #fff!important;
}

.aside-menu .menu-item .menu-link.active .menu-title {
    color: #fff!important;
}

.aside-menu .menu-item .menu-link.active .menu-icon i {
    color: #fff!important;
}

.aside-menu .menu-item .menu-link.active .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease!important;
    fill: #fff!important;
}

.aside-menu .menu-item .menu-link.active .menu-icon .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease!important;
}

.aside-menu .menu-item .menu-link.active .menu-bullet .bullet {
    background-color: #fff!important;
}

.aside-menu .menu-item .menu-link.active .menu-arrow:after {
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-color: transparent!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.93537 4.57889C6.03839 4.77912 6.0191 5.0363 5.87137 5.21403L2.87153 8.82282C2.68598 9.04603 2.36951 9.06026 2.16468 8.8546C1.95985 8.64893 1.94422 8.30126 2.12977 8.07804L4.80594 4.85863L2.15586 1.93583C1.96104 1.72096 1.96165 1.37314 2.15722 1.15895C2.35279 0.944757 2.66927 0.945311 2.86409 1.16018L5.85194 4.45551C5.8859 4.49296 5.91371 4.53459 5.93537 4.57889Z'/%3e%3c/svg%3e")!important;
}

.aside-menu .menu-item .menu-link.active {
    position: relative!important;
}

.aside-menu .menu-item .menu-link.active:after {
    width: 0!important;
    height: 0!important;
    border: 10px solid transparent!important;
    top: 0!important;
    bottom: 0!important;
    margin: auto!important;
    right: 0!important;
    border-right-color: #eff2f5!important;
    border-top-width: 22px!important;
    border-bottom-width: 22px!important;
    content: " "!important;
    position: absolute!important;
}

.btn.btn-gold {
    color: #AE8625;
    border-color: #AE8625;
    background-color: #F7EF8A
}

.btn.btn-gold i {
    color: #AE8625
}

.btn.btn-gold .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #AE8625
}

.btn.btn-gold .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn.btn-gold.dropdown-toggle:after {
    color: #AE8625
}

.btn-check:active+.btn.btn-gold,
.btn-check:checked+.btn.btn-gold,
.btn.btn-gold.active,
.btn.btn-gold.show,
.btn.btn-gold:active:not(.btn-active),
.btn.btn-gold:focus:not(.btn-active),
.btn.btn-gold:hover:not(.btn-active),
.show>.btn.btn-gold {
    color: #AE8625;
    border-color: #AE8625;
    background-color: #F7EF8A
}

.btn-check:active+.btn.btn-gold i,
.btn-check:checked+.btn.btn-gold i,
.btn.btn-gold.active i,
.btn.btn-gold.show i,
.btn.btn-gold:active:not(.btn-active) i,
.btn.btn-gold:focus:not(.btn-active) i,
.btn.btn-gold:hover:not(.btn-active) i,
.show>.btn.btn-gold i {
    color: #AE8625
}

.btn-check:active+.btn.btn-gold .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-gold .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-gold.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-gold.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-gold:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-gold:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-gold:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-gold .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #AE8625
}

.btn-check:active+.btn.btn-gold .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-gold .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-gold.active .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-gold.show .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-gold:active:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-gold:focus:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.btn.btn-gold:hover:not(.btn-active) .svg-icon svg:hover [fill]:not(.permanent):not(g),
.show>.btn.btn-gold .svg-icon svg:hover [fill]:not(.permanent):not(g) {
    transition: fill .3s ease
}

.btn-check:active+.btn.btn-gold.dropdown-toggle:after,
.btn-check:checked+.btn.btn-gold.dropdown-toggle:after,
.btn.btn-gold.active.dropdown-toggle:after,
.btn.btn-gold.show.dropdown-toggle:after,
.btn.btn-gold:active:not(.btn-active).dropdown-toggle:after,
.btn.btn-gold:focus:not(.btn-active).dropdown-toggle:after,
.btn.btn-gold:hover:not(.btn-active).dropdown-toggle:after,
.show>.btn.btn-gold.dropdown-toggle:after {
    color: #AE8625
}

.topbar{
  background-image: linear-gradient(to bottom right,#181824,#181c32);
  /*background-image: linear-gradient(to top left,#AE8625,#F7EF8A);*/
}

.blink{
  animation: blink 1s linear infinite;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

.input-error{
  border: 2px solid #DB1430!important;
}

.input-valid{
  border: 1px solid #50CD89!important;
}
